

<%total_points=0%>
<p> You Have: <%@current_child.recipes.each do |recipe|%>
   <%total_points=total_points + recipe.rewarded_points%>          
 <%end%>
   <%=total_points%> points!
 </p>
 <br>
 <br>
 <br>
<%= link_to "Create New Recipe!", new_recipes_path, :Method => :post %>
 <h2> Recipes </h2>
 <p>
 <%@current_child.recipes.map do |recipe|%>
 <%=link_to recipe.title, recipe_path(recipe.id)%> <br>
<%end%> 
</p>

<br>
<br>

