

<h1><p>Logged in as:  <%=@current_child.name%></p></h1>
<p> You Have: <%@current_child.recipes.map do |recipe|%>
        
     <%=recipe.rewarded_points%> 

 <%end%>
 </p>


<%= link_to "Play Game", new_recipes_path(:child_id => @current_child), :Method => :post %>