
<div class-container="welcome">
<div class="subtitle-is-5">
  Hi Kids! Being quarantined without your friends can be boring!
    Create your very own dream recipe book full of silly recipes to show your parents.<br/>
    They will love how you are spending your time! <br/>
 The more recipes you create, the more points you receive! 
  
</div>
</div>
<br>
