<h1> WELCOME TO QUARANTINE CUISINE </h1>
 <h2>
<p>Hi Kids! Being quarantined without your friends can be boring!<br/>
 Create your very own dream recipe book full of silly recipes to show your parents.<br/>
They will love how you are spending your time! <br/>
The more recipes you create, the more points you receive! 
</p>
</h2>

<h1><%=link_to "New User", new_children_path %>
<br>
<%=link_to "LOGIN", login_path %>
