
<div class="welcome">
<div class="subtitle-is-5">
  <p>Hi Kids! Being quarantined without your friends can be boring!
    Create your very own dream recipe book full of silly recipes to show your parents.
    They will love how you are spending your time! 
    The more recipes you create, the more points you receive! 
    </p>
</div>
</div>

