<h3>Choose Your Tools! </h3>
<hr>

<%=form_for  @tool do |f|%>

<%=f.collection_select :description, @tool_var.select(:name, :description).distinct, :full_description, :full_description %>

<%=f.submit 'Add Tool!'%>
<%end%>
