.display-1{
  color:  #f66747;
  font-weight: bold;
  font-size: 100px;
  font-stretch: semi-expanded;
}

.container{
  align-self: flex-start;
}
.link{
  float: right;
  font-size: 30px;
}

a{
  color:   #1c4755;
}

 body{
 background-color: white;
 color:   #1c4755;
 width:100%;
 padding: 2rem;
 
 } 

 .main-content{
  margin: auto;
  width: 60%;
  padding:40px;

 
 }

 .login-form{
  margin: auto;
  width: 40%;
  height: auto;
  background-color:  #f66747;
  padding: 10px;
}

.nav-tabs {
  color:  #1c4755;
}

input{
  margin: 50px, 0,0,0
}

.tile{
  background-color: #efc458;
  font-size:40px;
  padding: 1px;
  margin:60px;
  
}
a.button.is-link{
  color: #1c4755;
  font-weight: bold;
  float: right;
  padding: 5px;
  margin:10px;
}

img{
  border: 20px solid, #00A08F;;
  border-radius: 10px;
  padding: 10px;
  width: 200px;
}

.recipe-list{
  background-color:#00A08F;
  padding: 50px;
}